{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "overrides": [
          {
            "files": "*.ts",
            "rules": {
              "object-curly-newline": "off"
            }
          }
        ]
      }
    }
  ]
}
